.projectCard{
  padding: 1rem;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  width: 24%;
  margin: 0.5%;
}
.projectCard h4{
  background-color: #222;
  color: #ffbb33;
  padding: .5rem .8rem;
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
}
.projectCard p {
  color: #7a7a7a;
  margin-bottom: 1rem;
}
.projectCard p span{
  font-weight: bold;
}

.category{
  display: flex;
  align-items: center;
}
.category span{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.category .development{
  background-color: #95ece9;
}
.category .design{
  background-color: #9ef3b8;
}
.category .planning{
  background-color: #f7d8a7;
}

.actions{
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}
.actions a, .actions button{
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: .9rem;
  padding: .6rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border: 1px solid #222;
  transition: 0.25s;
}
.actions a:hover, .actions button:hover{
  background-color: #222;
  color: #ffbb33;
}
.actions svg{
  margin-right: .5rem;
}